@using Domain.Entities
@model IEnumerable<Store> 
@{
    ViewBag.Title = "Stores";
}


<h2>Stores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@store.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = store.Id })">Edit</a> |
                    <form action="@Url.Action("Delete", new { id = store.Id })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Store</a>
